<div class="container">
  <app-site-top-row></app-site-top-row>
  <div class="row">
    <div class="col-sm-2 divLeftMenu">
      <app-left-menu></app-left-menu>
    </div>
    <!-- START Question -->
    <div *ngIf="searchResults?.length == 0">
      No questions found.
    </div>
    <div class="col-sm-8  divContent">
      <div id="divSearchResults" *ngFor="let question of searchResults" >
        <app-question [question]="question"></app-question>
      </div>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="handleAskQuestion()">Ask Question</button>
    </div>

  </div>