<div class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <h1>Register User</h1>
    <div id="divMessage"></div>
    <div>
      First name:
    </div>
    <div>
      <input type="text" id="txtFirstName" id="txtFirstName" [(ngModel)]="firstName" class="form-control" placeholder="First name">
    </div>
    <div>
      Last name:
    </div>
    <div>
      <input type="text" id="txtLastName" id="txtLastName" [(ngModel)]="lastName" class="form-control" placeholder="Last name">
    </div>
    <div>
      User name:
    </div>
    <div>
      <input type="text" id="txtUserName" id="txtUserName" [(ngModel)]="userName" class="form-control" placeholder="User name">
    </div>
    <div>
      Password:
    </div>
    <div>
      <input type="password" id="txtPassword" id="txtPassword" [(ngModel)]="password" class="form-control" placeholder="Password">
    </div>
    <div>
      Confirm Password:
    </div>
    <div>
      <input type="password" id="txtConfirmPassword" id="txtConfirmPassword" [(ngModel)]="confirmPassword" class="form-control" placeholder="Confirm password">
    </div>
    <div>
      <input type="button" value="Register" (click)="handleSubmit()"  class="btn btn-default" >
    </div>
    <ul *ngFor="let error of formErrors">
      <li class="liError">{{error}}</li>
    </ul>

  </div>
  <div class="col-md-4">&nbsp;</div>
</div>