<div class="container">
  <div class="row divTitleRow">
    <div class="col-sm-2">
      <h4>Super Answers</h4>
    </div>
    <div class="col-sm-8">
      <br>
      <input type="text" id="txtSearchQuestions" style="width:100%">
    </div>
    <div class="col-sm-2">
      <a href="">Edit Profile</a> |
      <a href="">Messages</a>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-2 divLeftMenu">
      <!-- Menu goes here -->
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <label for="txtQuestion">Question</label>
        <input type="text" id="txtQuestion" class="form-control" placeholder="Ask question here" [(ngModel)]="questionTitle" >
      </div>

      <div class="form-group">
        <label for="txtQuestionContent">Question Content</label>
        <textarea class="form-control" id="txtQuestionContent" rows="3" [(ngModel)]="questionContent"></textarea>
      </div>

      <div class="form-group">
          <label for="txtQuestionTags">Tags</label>
          <input type="text"  class="form-control" placeholder="Tags" [(ngModel)]="questionTags" >

          <tag-input [(ngModel)]='selectedTags' [onlyFromAutocomplete]="true" id="txtQuestionTags">
            <tag-input-dropdown 
              [showDropdownIfEmpty]="true"
              [autocompleteItems]="validTags">
            </tag-input-dropdown>

          </tag-input>
      </div>
  

      <br><br>
      <button type="button" class="btn btn-primary" (click)="handleAskQuestion()">Ask Question</button>

    </div>
    <div class="col-sm-2">
      
    </div>
  </div>
</div>