<div class="container">
  <div class="row divTitleRow">
    <div class="col-sm-2">
      <h4>Super Answers</h4>
    </div>
    <div class="col-sm-8">
      <br>
      <input type="text" id="txtSearchQuestions" style="width:100%">
    </div>
    <div class="col-sm-2">
      <a href="">Edit Profile</a> |
      <a href="">Messages</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 divLeftMenu">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-sm-8">

      <!-- START Question -->
      <div class="divQuestion">
        <div class="row divQuestionTitle">
          <div class="col-sm-12">
            <h3>{{question.questionTitle}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2" style="text-align:center;">
            ^ <br>
            <b>
              1300
            </b>
          </div>
          <div class="col-sm-10">
            {{question.content}}
            <br>
            <div>
              <span class="spanTag" *ngFor="let tag of question.tagArray">{{tag}}&nbsp;</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 divQuestionOwner">
            <div><b>{{question.createdBy}}</b></div>
            <div>Asked: {{question.createdAt | date}} at {{question.createdAt | date:'shortTime'}}</div>
          </div>
        </div>
      </div>
      <!-- END Question -->

      <!-- START Answer -->
      <div class="divAnswer" *ngFor="let answer of answers">
        <div class="row">
          <div class="col-sm-2" style="text-align:center;">
            ^ <br>
            <b>
              {{answer.votes}}
            </b>
          </div>
          <div class="col-sm-10">
            {{answer.answer}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 divQuestionOwner">
            <div><b>{{answer.createdBy}}</b></div>
            <div>Answered: {{question.createdAt | date}} at {{question.createdAt | date:'shortTime'}</div>
          </div>
        </div>
      </div>
      <!-- END ANSWER -->

    </div>
    <div class="col-sm-2">
      <br><br>
      <button type="button" class="btn btn-primary" (click)="handleAskQuestion()">Ask Question</button>
    </div>
  </div>
</div>