<div class="container">
  <app-site-top-row></app-site-top-row>

  <div class="row">
    <div class="col-sm-2 divLeftMenu">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-sm-8">

      <!-- START Question -->
      <div class="divQuestion">
        <div class="row divQuestionTitle">
          <div class="col-sm-12">
            <h3>{{question.questionTitle}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2" style="text-align:center;">
            ^ <br>
            <b>
              {{question.votes}}
            </b>
          </div>
          <div class="col-sm-10" [innerHTML]="question.content"></div>
        </div>
        <div class="row"><div>&nbsp;</div></div>
        <div class="row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4">
            <div>
              <span class="spanTag" *ngFor="let tag of question.tagArray">{{tag}}&nbsp;</span>
            </div>
          </div>
          <div class="col-sm-4 divQuestionOwner">
            <div><b>{{question.createdBy}}</b></div>
            <div>Asked: {{question.createdAt | date}} at {{question.createdAt | date:'shortTime'}}</div>
          </div>
        </div>
      </div>
      <!-- END Question -->

      <!-- START Answer -->
      <div class="divAnswer" *ngFor="let answer of answers">
        <div class="row">
          <div class="col-sm-2" style="text-align:center;">
            ^ <br>
            <b>
              {{answer.votes}}
            </b>
          </div>
          <div class="col-sm-10" [innerHTML]="answer.answer"></div>
        </div>

        <div class="row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 divQuestionOwner">
            <div><b>{{answer.createdBy}}</b></div>
            <div>Answered: {{answer.createdAt | date}} at {{answer.createdAt | date:'shortTime' }}</div>
          </div>
        </div>
      </div>
      <!-- END ANSWER -->

      <!-- START Answer Form -->
      <h3>What's your answer?</h3>

      
      <md-editor name="Content" [(ngModel)]="answer" [height]="'400px'" [mode]="preview" required>
      </md-editor>
      
      <button type="button" class="btn btn-primary" (click)="postAnswer()">Post Answer</button>
      <!-- END Answer Form -->
      
    </div>
    <div class="col-sm-2">
      <br><br>
      <button type="button" class="btn btn-primary" (click)="handleAskQuestion()">Ask Question</button>
    </div>
  </div>
</div>