<div class="container">
  <div class="row divTitleRow">
    <div class="col-sm-2">
      <h4>Super Answers</h4>
    </div>
    <div class="col-sm-8">
      <br>
      <input type="text" id="txtSearchQuestions" style="width:100%">
    </div>
    <div class="col-sm-2">
      <a href="">Edit Profile</a> | 
      <a href="">Messages</a>
    </div> 
  </div>

  <div class="row">

    <div class="col-sm-2 divLeftMenu">
      <!-- Menu goes here -->

    </div>
    <div class="col-sm-8">

      <!-- START Question -->
      <div class="divQuestion">
        <div class="row divQuestionTitle">
          <div class="col-sm-12">
            <h3>question title goes here</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2" style="text-align:center;">
            ^ <br>
            <b>
            1300
            </b>
          </div>
          <div class="col-sm-10">
            <p>Can someone please explain the difference between Promise and Observable in Angular?</p>

            <p>An example on each would be helpful in understanding both the cases. In what scenario can we use each
              case?
            </p>
            <div>
              <span class="spanTag">Tag1</span> 
              <span class="spanTag">Tag2</span> 
              <span class="spanTag">Tag3</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 divQuestionOwner" >
              <div><b>MRosario</b></div>
              <div>Asked: 5/19/2019 at 3:30pm</div>
          </div>          
        </div>
      </div>
      <!-- END Question -->


      <!-- START Answer -->
      <div class="divAnswer">
        <div class="row">
          <div class="col-sm-2" style="text-align:center;">
            ^ <br>
            <b>
            1300
            </b>
          </div>
          <div class="col-sm-10">
            <div id="lipsum">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum semper gravida. Maecenas sit
                amet nunc semper, tristique ex nec, hendrerit nisi. Sed suscipit gravida faucibus. Pellentesque sed
                rutrum
                ipsum, sit amet rutrum sapien. Ut elementum enim eu ex ultrices, sed eleifend justo iaculis. Morbi in
                arcu
                eget arcu semper condimentum. Sed ante ipsum, imperdiet a enim ut, efficitur sodales ante. Nunc ut diam
                a
                ante suscipit volutpat. Nam sed sollicitudin sapien. Etiam vel libero non ante blandit sodales blandit
                vel
                erat. Nunc viverra dolor ut tellus commodo, at volutpat sem venenatis. Aenean vitae massa leo.
              </p>
              <p>
                Aliquam volutpat porta leo, feugiat tristique ligula viverra vitae. Nunc scelerisque purus eleifend
                facilisis mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Aliquam erat volutpat. In hac habitasse platea dictumst. Proin aliquam feugiat tellus eu
                tempus.
                Pellentesque sagittis, nunc at consequat viverra, magna sapien finibus mauris, aliquam iaculis sapien
                quam
                nec nisl. In efficitur enim ac est pellentesque viverra a vel massa.
              </p>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            
          </div>
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 divQuestionOwner" >
            <div><b>MRosario</b></div>
            <div>Answered: 5/19/2019 at 3:30pm</div>
          </div>
        </div>
      </div>
      <!-- END ANSWER -->

    </div>
    <div class="col-sm-2">
        <br><br>
        <button type="button" class="btn btn-primary">Ask Question</button>
    </div>
  </div>
</div>